{% extends 'webmain/base.html' %}
{% load static %}




{% block content %}

    <div>
        <img src="{% static 'assets/images/collection/malabar.jpg' %}" height="100%" width="100%">
    </div><!--/.sofa-collection-->

    <section id="new-arrivals" class="new-arrivals">
        <div class="container">
            <div class="section-header">
                <h2>About us</h2>
            </div><!--/.section-header-->
        </div>
    </section>


    <div class="container">
        <p>
            <img class="imgright" src="{% static 'assets/images/collection/malabar_intr.jpg' %}" width="550px"> 
            <img src="{% static 'assets/logo/logo.jpg' %}" class="imgleft"/>

            <strong>Malabar Antique</strong> were established in 1989 at Thazheyangadi the Old Vadakara town. 
            We take great pride in continuing the tradition established by our parents, Malabar Antique is currently operated by Mr. Majeed.
        </p>

        <br>
        
        <p>
            After that, in 2016, another initiative called <strong>Craft Decor</strong> started funtioning in Iringal near by National Highway 66 (Vadakara - Kozhikode route). 
            It works well with a large number of items in a spacious building.

            <img class="imgleft" src="{% static 'assets/images/collection/craftdecor_front.jpeg' %}" width="530px"> 

        </p>
        
        <br>

        <p>        
            We continue to import all of our merchandise from All over India. We receive shipments several times a year, 
            attracting customers from all regions of the India and abroad who come to Malabar Antique to furnish their interiors.
        </p>

        <br>

        <p>
            We remain the business whose expertise in collecting and selling quality antiques is world famous. 
            We are indeed fortunate to have such an outstanding collection of authentic Indian and Colonial pieces. 
        </p>

        <br>
        <br>

        <p>
            <img class="imgright" src="{% static 'assets/images/collection/antqitems.jpg' %}" width="550px"> 

            Our stock offers a remarkable selection of splendid 18th and 19th century country and sophisticated furnishings, 
            as well as an extensive display of marble mantels and gold leaf mirrors, bronze statues, and French, continental and Oriental porcelains.
            Because of the public’s ever-increasing appreciation for fine antiques, these treasures are becoming increasingly scarce. 
        </p>

        <br>

        <p>
            We at the Malabar Antique offer our clients the rare opportunity of choosing from an unparalleled concentration of authentic 18th and 19th century antiques in our galleries.
        </p>
    </div>


{% endblock %}
