{% extends 'core/base.html' %}
{% load static %}




{% block content %}

  


    <div class="container" id="about">
        <div class="pdf-view">
            <div id ="notice">
                <iframe src="{% static 'assets/documents/A4-NOTICE.pdf' %} " navpanes=0 height="500"></iframe>
             </div>
                <br><br>
            
            <div id ="instructions">
                <iframe src="{% static 'assets/documents/instructions.pdf' %} " navpanes=0 height="500"></iframe>
            </div>
        </div>
    </div>


{% endblock %}
