{% extends 'core/base.html' %}
{% load static %}




{% block content %}


    <!--area after menu-->
            
    <!--area after menu end-->


    <!--main slider start -->
        
        <div class="">
                <div class="row head-full">
                    <div class="col-md-6 col-sm-12 head-left">
                        <img src="{% static 'assets/images/collection/logo-head.png' %}" alt="brand-image" />
                    </div>

                   
                    <div class="col-md-6 col-sm-12 head-right">
                        <div class="container">
                            <h1>Nurturing the <br><span style="color: #3FAAEB;">Young</span> Minds</h1>
                            <p>
                                The Vagbhatananda Edu Project, initiated by the ULCCS Foundation under the Uralungal Labour Contract Co-operative Society
                                ,has been enhancing education since 2010. This initiative operates through eight regional centers in Kozhikode district and is supported by various volunteer groups. The primary goal of the project is to provide school students with innovative curricular and co-curricular experiences and prepare them for competitive exams.
                            </p>
                            <div class="sofa-collection-txt text-center">
                                <button class="btn-cart welcome-add-cart sofa-collection-btn" onclick="window.location.href='/register#reg'">
                                    Register
                                </button>
                                <button class="btn-cart welcome-add-cart sofa-collection-btn" onclick="window.location.href='/userdisplay#can'">
                                    Hall Ticket
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                    

                
        </div><!--/.-collection-->   

    <!--slider-collection end -->



    <!--blog start -->
    <section id="blog" class="blog">
        <div class="container">
            <div class="section-header mid-para-head">
                <h1>Future is calling!<br>
                <span style="color:#45B6FD;">Are you ready?</span></h1>
            </div><!--/.section-header-->
        
            <div class="blog-content">
                <div class="row">
                   
                    <div class="col-md-7 col-sm-12 mid-para-text">
                        <p>
                                <strong>Registration Deadline:</strong><br>
                            <span> 
                                Must register online by<br>
                            </span>
                            <span>
                                19<sup>th</sup> June 2024 by 5 PM.
                            </span>
                        </p>

                        <br>

                        <p>
                            <strong>Registration Steps:</strong>
                            <span> 
                                <ul>
                                    <li><span class="lnr lnr-chevron-right"></span> Click on the registration link for the competitive examination.</li>
                                    <li><span class="lnr lnr-chevron-right"></span> Fill in the required personal and academic details in the online form.</li>
                                    <li><span class="lnr lnr-chevron-right"></span> Submit the form and take a printout of the admission ticket.</li>
                                    <li><span class="lnr lnr-chevron-right"></span> Bring the admission ticket to the examination center on the exam day.</li>
                                </ul>
                            </span> 
                        </p>
                        <br>
                        <p>
                            These selected students will benefit from classes, camps, study tours, and visits to research institutes. They will receive academic support from institutions such as ISRO, NIT, the Zoological Survey of India, the Regional Science Centre, the Malabar Botanical Garden, and Calicut University. Additionally, students who complete one year in the regional centers will have the opportunity to join advanced programs like the UL Space Club and IIT Foundation Training in the following year.
                        </p>
                        <br>
                    </div>

                    <div class="col-md-5 col-sm-12 mid-para-text">
                        <img src="{% static 'assets/images/collection/img_right.jpg' %}" class="img-fluid">
                        <p>
                            <strong>Exam Centers:</strong>
                        </p>
                       
                        <div style="font-style: italic;">
                            <ul>
                                <li><span class="lnr lnr-map-marker"></span> GVHSS Madappally</li>                            
                                <li><span class="lnr lnr-map-marker"></span> Meppayil East SB School</li>
                                <li><span class="lnr lnr-map-marker"></span> Samskritam School, Vattoli</li>
                                <li><span class="lnr lnr-map-marker"></span> Ideal Public School, Kuttyadi</li>
                                <li><span class="lnr lnr-map-marker"></span> Perambra HSS</li>
                                <li><span class="lnr lnr-map-marker"></span> GHSS Koilandy</li>
                                <li><span class="lnr lnr-map-marker"></span> GUPS Unnikulam</li>
                                <li><span class="lnr lnr-map-marker"></span> Vagbhatananda Mandiram, Karapparamb</li>
                            </ul>
                            <br>
                        </div>
                    </div>

                    

                   

                    <br>
            </div>
        </div><!--/.container-->
    </section><!--/.blog-->
    <!--blog end -->


    <section id="newsletter" class="newsletter">
        <div class="container">
            <div class="col-md-12 col-sm-12 text-center mid-para-text">
                <div class="sofa-collection-txt text-center">
                    <button class="btn-cart welcome-add-cart sofa-collection-btn" onclick="window.location.href='/register'">
                        Register
                    </button>
                    <button class="btn-cart welcome-add-cart sofa-collection-btn" onclick="window.location.href='/userdisplay'">
                        Hall Ticket
                    </button>

                
                </div>

                <div class="text-center mid-para-slog">
                    <p> 
                        <strong>Vagbhatananda Edu Project aims to nurture young minds by providing them with exposure to scientific and educational activities, preparing them for future academic and competitive challenges.</strong>
                    </p>
                </div>
            </div>
        </div>
    </section>




{% endblock %}